[submodule "libs/zmath"]
	path = libs/zmath
	url = https://github.com/machlibs/zmath
[submodule "libs/tinyvg"]
	path = libs/tinyvg
	url = https://github.com/TinyVG/sdk
[submodule "libs/mach"]
	path = libs/mach
	url = https://github.com/hexops/mach
[submodule "libs/zig-sqlite"]
	path = libs/zig-sqlite
	url = https://github.com/vrischmann/zig-sqlite
[submodule "libs/zig-libcurl"]
	path = libs/zig-libcurl
	url = https://github.com/mattnite/zig-libcurl.git
[submodule "libs/zig-libssh2"]
	path = libs/zig-libssh2
	url = https://github.com/mattnite/zig-libssh2.git
[submodule "libs/zig-mbedtls"]
	path = libs/zig-mbedtls
	url = https://github.com/mattnite/zig-mbedtls.git
