[submodule "libs/zmath"]
	path = libs/zmath
	url = https://github.com/PiergiorgioZagaria/zmath.git
[submodule "libs/tinyvg"]
	path = libs/tinyvg
	url = https://github.com/TinyVG/sdk
[submodule "libs/mach"]
	path = libs/mach
	url = https://github.com/hexops/mach
